nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  color: white;
  background-color: #3C486B;
}

nav div{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

nav div a{
  display: block;
  position: relative;
}

nav div a::after{
  content: "";
  display: block;
  position: absolute;
  transition: .3s;
  background: linear-gradient(to right, #FDF4F5, #FFABAB);
  width: 0%;
  height: 5px;
  border-radius: 25px;
}

.active::after{
  width: 100%;
}